*{
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
    
}

body{
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: #181818;
    background-color: rgb(255, 255, 255);
}


.left, .right{
    width: 300px;
}

.right{
    position: relative;
    float: right;
}

.center{
    width: 100%;
    overflow-x: hidden;
}

.nav{
    width: 100%;
    padding: 25px;
}

#switch{
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.nav-link{
    font-size: 13px;
    opacity: .5;
}

.active{
    font-size: 20px;
    opacity: .9;
    transition: .3s;
}

.section{
    width: 100%;
    height: 100%;
    padding: 25px;
    overflow-x: hidden;
}
.text{
    animation: animate 5s linear infinite;
    transform-style: preserve-3d;
  }
  
  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
    }
  
    100% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
    }
  
}
.stage{
    position: relative;
    top: 125px;
}
span{
    
    position: absolute;
  font-family: "TS Block Bold", sans-serif;
  left: 50%;
  top: 100%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  transform-origin: center;
  transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
  transform-style: preserve-3d;
  font-weight: 700;
}

.sphere{
    width: 300px;
    height: 300px;
    position: relative;
    left: 50%;
top: 50%;
transform: translate(-50%,-50%);
  transform-style: preserve-3d;
  background-image: linear-gradient(120deg, #ffffff 0%, #f3f3f3 100%);
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.068) 0px 10px 50px;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 100px;
  }
 
  .nav-link{
      cursor: pointer;
      transition: .3s;
  }

  .p-text{
      opacity: .5;
      line-height: 50px;
      text-align: left;
      font-size: 25px;
  }
  .underline{
      opacity: 1;
  }

  .underline {
    display: inline-block;
    position: relative;
    background: linear-gradient(to right, #0e0e0e, #0e0e0e);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    animation: underline 2s ease-in-out 2s forwards;
    /* remove infinite if you want only once */
    text-align: center;
  }
  
  @keyframes underline {
    to {
      background-size: 100% 2px;
    }
  }

  .prev, .next{
      position: relative;
      top: 400px;
      font-size: 25px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      cursor: pointer;
  }

  .card{
      border: none;
  }

  a{
      cursor: pointer;
  }

 .m-2{
     position: relative;
     top: 25vh;
     left: 25vw;
     font-size: 25px;
 }

 @media only screen and (max-width: 600px) {
    body {
      display: block;
      overflow: scroll;
    }
    .nav{
        position: fixed;
        width: 100%;
        display: flex;
    }

  }